# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

#Useless files
cmake-build-debug/
.idea
.idea/*
build/*
build/fuse-module
.vscode/*
.vscode
daemon/dump.rdb
Doxyfile.bak
doxygen_docs
