name: cccc
on: [push]

jobs:
  check:
    name: cccc-action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: cccc action step
        uses: sarnold/cccc-action@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          source_dirs: |
            daemon
            kernel-module
            user
            userspace-module
          output_dir: code_analisys/cccc/metrics

      - name: upload metrics report
        uses: actions/upload-artifact@v2
        with:
          name: metrics
          path: ./code_analisys/cccc/metrics
